div
    h1 Page 6611
    button( id="myResource" data-hz-resource="hzButton" data-opt-hz-button-content="Ok")
    button( id="myResource2" data-hz-resource="hzButton" data-opt-hz-button-content="Ok2")