div
    h1 Page 6612
    .group
        button(data-hz-resource='hzButton', data-opt-hz-button-content='Ok3')
        button(data-hz-resource='hzButton', data-opt-hz-button-content='Ok4')
    .group
        button(data-hz-resource='hzButton', data-opt-hz-button-content='Ok3')
        button(data-hz-resource='hzButton', data-opt-hz-button-content='Ok4')
